@import url("../reset.css");
body{
	min-width:1550px;
}
header{
	padding:10px;
	.left{
		display:inline-block;
		p{
			margin-left: 100px;
			width:120px;
			text-align: right;
			display:inline-block;
			font-size:2em;
			font-weight:bold;
			line-height: 50px;
			background: url("img/1.jpg") no-repeat 1px 50%;
		}
	}
	.right{
		float: right;
		ul{
			margin-right:10em;
			li:nth-child(1){
				border-bottom:5px solid red;
				&:hover{
					border-bottom:none;
				}
			}
			li{
				float:left;
				list-style:none;
				margin-right:1em;
				a{
					text-decoration:none;
					margin-left:0;
					color:black;
					display:inline-block;
					width:80px;
					text-align:center;
					font-size:1.5em;
					line-height: 50px;
					font-weight:bold;
					&:hover{
						border-bottom:5px solid red;
					}
				}
			}
		}
		&>a{
			text-decoration:none;
			margin-left:1em;
			color:red;
			font-size:1.5em;
			font-weight:bold;
			line-height: 50px;
			display:inline-block;
			width:100px;
			text-align:center;
			background:url("img/2.jpg") no-repeat 15px center;
		}
	}
}
#nav{
	height:690px;
	background: url("img/3.jpg") no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	.content{
		margin-left:12%;
		padding-top: 210px;
		.text1{
			color:white;
			font-size:60px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.text2{
			color:white;
			font-size:25px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.text3{
			color:white;
			font-weight: bold;
			font-size:25px;
			margin-bottom: 80px;
		}
		form{
			input{
				height: 50px;
				width:400px;
				border:none;
				background-color: #E3474A;
				color:white;
				font-weight: bold;
				font-size:25px;
				&:hover{
					background-color: red;
				}
			}
		}
	}
}
#ul{
	overflow:hidden;
	ul{
		.li1{
			margin-left: 10%;
			background: url("img/_编组_-2.jpg") no-repeat 50% 40%;
		}
		.li2{
			background: url("img/_编组_-1.jpg") no-repeat  50% 40%;
		}
		.li3{
			background: url("img/_编组_.jpg") no-repeat  50% 40%;
		}
		.li4{
			background: url("img/_编组_-3.jpg") no-repeat  50% 40%;
		}
		li{
			height:300px;
			width:20%;
			float:left;
			list-style:none;
			padding-top: 200px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			p{
				text-align: center;
				color:gray;
				font-size:14px;
				width: 100%;
				border-right:1px solid gray;
				padding:0 25%;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				margin:0 auto;
			}
		}
	}
}
#onlyImg{
	height:350px;
	background: url("img/1_big.jpg") no-repeat 50% 35%;
	background-color: #ECEAEB;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-top:250px;
	p{
		text-align: center;
		font-size:60px;
		color:gray;
		font-family:"黑体";
	}
}
// 占位样式表
%sel{
	float:left;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:236px;
	height: 36px;
	margin: 0 34px 0 0;
	&:hover{
		border-color: red;
	}
}
#select{
	height:350px;
	// background-color: gray;
	box-sizing:border-box;
	padding:0 10%;
	.sel1{
		select{
			@extend %sel;
		}
	}
	.sel2{
		select{
			@extend %sel;
		}
	}
	.sel3{
		select{
			@extend %sel;
		}
	}
	form{
		input{
			display:block;
		}
	}
}