@import url("../reset.css");
.wrap{
	min-width:1024px;
	&:after{
		content:"";
		display: block;
		clear:both;
	}
	.box{
		float: left;
		box-sizing:border-box;
		padding:10px;
		height:auto;
		img{
			width: 100%;
		}
	}
}